@font-face {
    font-family: outfit;
    src: url('../fonts/outfit-regular.woff2') format('woff2');
}


@font-face {
    font-family: raleway;
    src: url('../fonts/raleway-regular.woff2') format('woff2');
         
}




